{% extends 'base.html.twig' %}

{% trans_default_domain 'user' %}

{% block title %}{{ 'form.reset.reset_your_password' | trans }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>{{ 'form.reset.reset_your_password' | trans }}</h1>

    {{ form_start(requestForm, {'attr': {'class': 'form-signin shadow-lg p-3 mb-5 rounded'}}) }}
        {{ form_row(requestForm.email, {'label_attr': {'class': 'sr-only'}}) }}
        <div>
            <small>
                {{ 'form.reset.description' | trans }}
            </small>
        </div>

        <button class="btn btn-primary">{{ 'form.reset.send_reset_mail' | trans }}</button>
    {{ form_end(requestForm) }}
{% endblock %}
