{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block  stylesheets %}
{{ parent() }}
<style>
.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 5px 0;
}
</style>
 {% endblock %}

{% block body %}
    <div class="row p-4">
        <h1>Calendar for this season</h1>
    </div>

    {% for tournament in tournaments %}
    <div class="row row-striped">
        <div class="col-1 text-right">
            <h2 ><span class="badge bg-secondary">{{ tournament.startDate ? tournament.startDate|date('d') : '' }}</span></h2>
            <h3>{{ tournament.startDate ? tournament.startDate|date('M') : '' }}</h3>
        </div>
        <div class="col-10">
            <h4 class="text-uppercase"><a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">{{ tournament.organizer.acronym }} - {{ tournament.organizer.name }}</a></h4>
            <ul class="list-inline">
                <li class="list-inline-item badge bg-primary"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ tournament.type.name }}</li>
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ tournament.startDate ? tournament.startDate|date('d-m-Y') : '' }}</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{ tournament.endDate ? tournament.endDate|date('d-m-Y') : '' }}</li>
            </ul>
        </div>
    </div>
    {% else %}
    <div colspan="5">no records found</div>
    {% endfor %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_tournament_new') }}">Create new</a>
{% endif %}
{% endblock %}
