{% extends 'base.html.twig' %}

{% trans_default_domain 'tournament' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block title %}{{ 'form.label.edit' | trans }} {{ 'form.label.title' | trans }}{% endblock %}

{% block body %}
<section class="row">
    <div class="col">
        <div class="card">
        <header class="card-header">
            <h1>{{ 'form.label.edit' | trans }} {{ 'form.label.title' | trans }}</h1>
        </header>
        <article class="card-body">
            {{ include('tournament/_form.html.twig', {'button_label': 'Update'}) }}
            <span class="clearfix">
                <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}" class="btn btn-secondary float-end"><i class='fad fa-times'></i> Cancel</a>
                {{ include('tournament/_delete_form.html.twig') }}
            </span>
        </article>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('form') }}
    <script>
        let collection, boutonAjout, span;
        window.onload = () => {
            collection = document.querySelector("#platoons");
            span = collection.querySelector("#addPlatoon");

            boutonAjout = document.createElement("button");
            boutonAjout.className = "add-platoon btn btn-secondary mt-4";
            boutonAjout.innerHTML = "<i class='fad fa-plus'></i> Add platoon";

            span.append(boutonAjout);

            collection.dataset.index = collection.querySelectorAll("input").length;
            deleteButtonElement(collection);

            boutonAjout.addEventListener("click", function(){
                deleteButton(collection);
            });
        }

        function deleteButtonElement(collection) {
            /* retrouver les autres élèments */
            let elements = collection.firstElementChild;
            let index = 0;

            if(!(elements.children.length === 1 && elements.children[0].id.endsWith(`_${index}`))) {
                return;
            }

            for (const child of elements.children) {
                let body = document.createElement("div");
                let boutonSuppr = document.createElement("button");
                boutonSuppr.type = "button";
                boutonSuppr.className = "btn btn-danger";
                boutonSuppr.id = "delete-platoon-" + index;
                boutonSuppr.innerHTML = "<i class='fad fa-trash'></i> Delete this platoon";
                child.className = 'row row-cols-lg-auto g-3 align-items-end';
                body.className = 'mb-3';

                body.append(boutonSuppr);
                child.append(body);

                boutonSuppr.addEventListener("click", function() {
                    this.parentElement.previousElementSibling.parentElement.remove();
                })
                index++;
            }
        }

        function deleteButton(collection) {
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;

            prototype = prototype.replace(/__name__/g, index);

            let content = document.createElement("div");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");

            newForm.className = 'row row-cols-lg-auto g-3 align-items-end';

            let body = document.createElement("div");
            body.className = 'mb-3';

            let boutonSuppr = document.createElement("button");
            boutonSuppr.type = "button";
            boutonSuppr.className = "btn btn-danger";
            boutonSuppr.id = "delete-platoon-" + index;
            boutonSuppr.innerHTML = "<i class='fad fa-trash'></i> Delete this platoon";

            body.append(boutonSuppr);
            newForm.append(body);

            collection.dataset.index++;

            let boutonAjout = collection.querySelector(".add-platoon");
            let platoons = collection.querySelector("#tournament_platoons");

            platoons.appendChild(newForm, boutonAjout);

            body.addEventListener("click", function() {
                this.previousElementSibling.parentElement.remove();
            })
        }
    </script>
{% endblock %}