{% extends 'base.html.twig' %}

{% trans_default_domain 'tournament' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block title %}{{ 'form.label.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'form.label.new' | trans }} {{ 'form.label.title' | trans }}</h1>

    {{ include('tournament/_form.html.twig') }}

    <a href="{{ path('app_tournament_calendar') }}" class='btn btn-secondary'><i class='fad fa-undo'></i> {{ 'form.label.backtolist' | trans }}</a>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('form') }}
    <script>
        let collection, boutonAjout, span;
        window.onload = () => {
            collection = document.querySelector("#platoons");
            span = collection.querySelector("#addPlatoon");

            boutonAjout = document.createElement("button");
            boutonAjout.className = "add-platoon btn btn-secondary mt-4";
            boutonAjout.innerHTML = "<i class='fad fa-plus'></i> Add platoon";

            let nouveauBouton = span.append(boutonAjout);

            collection.dataset.index = collection.querySelectorAll("input").length;

            boutonAjout.addEventListener("click", function(){
                addButton(collection, nouveauBouton);
            });
        }

        function addButton(collection, nouveauBouton){
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;

            prototype = prototype.replace(/__name__/g, index);

            let content = document.createElement("div");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");

            newForm.className = 'row row-cols-lg-auto g-3 align-items-end';

            let body = document.createElement("div");
            body.className = 'mb-3';

            let boutonSuppr = document.createElement("button");
            boutonSuppr.type = "button";
            boutonSuppr.className = "btn btn-danger";
            boutonSuppr.id = "delete-platoon-" + index;
            boutonSuppr.innerHTML = "<i class='fad fa-trash'></i> Delete this platoon";

            body.append(boutonSuppr);
            newForm.append(body);

            collection.dataset.index++;

            let boutonAjout = collection.querySelector(".add-platoon");
            let platoons = collection.querySelector("#tournament_platoons");

            platoons.appendChild(newForm, boutonAjout);

            body.addEventListener("click", function() {
                this.previousElementSibling.parentElement.remove();
            })
        }

    </script>
{% endblock %}