{% extends 'base.html.twig' %}

{% block title %}Tournament - {{ tournament.organizer.acronym }}{% endblock %}

{% block body %}
    <div class="row p-4">
        <h1><span class='badge bg-{% if tournament.type.value == 1 %}primary{% else %}success{% endif %}'>{{ tournament.type.name }}</span> {{ tournament.organizer.acronym }} - {{ tournament.organizer.name }}</h1>
    </div>

    <div class='row'>
        <section class='col-6'>
            <h3>Où et quand ?</h3>
            {% if (is_granted('ROLE_USER') and date(tournament.startDate) > date("now"))
                or is_granted('ROLE_ADMIN') %}
            <ol class="list-group list-group-flush">
                {% for platoon in tournament.platoons %}
                <li class="list-group-item">
                    <span class='badge bg-secondary'>{{ platoon.type.label }}</span>
                    <i class="fad fa-clock" aria-hidden="true"></i> {{ platoon.starttime|date('d-m-Y H:i') }}
                    {# {% if not isAlreadyRegistered %}
                    <a href='{{ path('participant_register', {'tournament': tournament.id, 'id' : platoon.id}) }}' class='btn btn-primary'>
                        S'inscrire
                    </a>
                    {% else %}
                    <a href="{{ path('participant_unregister', {'tournament': tournament.id, 'id' : peloton.id}) }}"  class="btn btn-warning">Se désinscrire</a>
                    {% endif %} #}
                </li>
                {% else %}
                <li class="list-group-item">no records found</li>
                {% endfor %}
            </ol>
            {% endif %}
        <section>
    </div>


    {% if date(tournament.endDate) < date("now") %}
    {# {{ render(controller('App\\Controller\\TournamentController::ranking', {'id': tournament.id})) }} #}
    {% endif %}

    <a href="{{ path('app_tournament') }}">back to list</a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">edit</a>

    {{ include('tournament/_delete_form.html.twig') }}
{% endif %}
{% endblock %}