{% extends 'base.html.twig' %}
{% trans_default_domain 'tournament' %}

{% block title %}{{ 'form.label.title' | trans }} - {{ tournament.name }}{% endblock %}

{% block body %}
    <div class="row p-4">
        <h1><span class='badge bg-{% if tournament.type.value == 1 %}primary{% else %}success{% endif %}'>{{ tournament.type.name }}</span> {{ tournament.name }}</h1>
    </div>

    <div class='row'>
        <section class='col-6'>
            {% include "layout/message.html.twig" %}

            <h3>{{ 'form.label.whereandwhen' | trans }}</h3>
            {# {% if date(tournament.startDate) > date("now") or is_granted('ROLE_ADMIN') %} #}
            <ol class="list-group list-group-flush">
                {% for platoon in tournament.platoons %}
                {{ include('platoon/_show.html.twig') }}
                {% else %}
                <li class="list-group-item">{{ 'form.label.norecords' | trans }}</li>
                {% endfor %}
            </ol>
            {# {% endif %} #}
        </section>
        <section class='col-6'>
            {% if tournament.filename is not null %}
            <div>
                Invitation : <a href='{{ vich_uploader_asset(tournament, 'invitation') }}' title='{{ tournament.name }}' target='_blank' >{{ tournament.name }}</a>
            </div>
            {% endif %}
            <h3>{{ 'form.label.address' | trans }}</h3>
            <article class='card mb-3'>
                {% if tournament.location is not null %}
                <div class="card-body">
                    <p class="card-text">
                        {% include 'location/_address.html.twig' with {address: tournament.location} only %}
                    </p>
                </div>
                {% endif %}
            </article>
        </section>
    </div>


    {% if date(tournament.endDate) < date("now") %}
    {{ render(controller('App\\Controller\\TournamentController::ranking', {'id': tournament.id})) }}
    {% endif %}
    <div class='row'>
<div class="btn-group" role="group" aria-label="action">
    <a href="{{ path('app_tournament_calendar') }}" class='btn btn-secondary'><i class='fad fa-undo'></i> {{ 'form.label.backtolist' | trans }}</a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}" class='btn btn-primary'><i class='fad fa-edit'></i> {{ 'form.label.update' | trans }}</a>
    {{ include('tournament/_delete_form.html.twig') }}
{% endif %}
</div>
</div>
{% endblock %}