{% extends 'base.html.twig' %}

{% block title %}Tournament - {{ tournament.organizer.acronym }}{% endblock %}

{% block body %}
    <div class="row p-4">
        <h1><span class='badge bg-secondary'>{{ tournament.type.name }}</span> {{ tournament.organizer.acronym }} - {{ tournament.organizer.name }}</h1>
    </div>

    <div class='row'>
        <section class='col-6'>
            <h3>Où et quand ?</h3>
            {% if date(tournament.endDate) > date("now") or is_granted('ROLE_ADMIN') %}
            <ol class="list-group list-group-flush">
                {% for peloton in tournament.pelotons %}
                <li class="list-group-item">
                    <span class='badge bg-secondary'>{{ peloton.type.label }}</span>
                    {{ peloton.starttime|date('d-m-Y H:i') }}
                    <a href='{{ path('peloton_register', {'tournament': tournament.id, 'id' : peloton.id}) }}' class='btn btn-primary'>
                        S'inscrire
                    </a>
                </li>
                {% else %}
                <li class="list-group-item">no records found</li>
                {% endfor %}
            </ol>
            {% endif %}
        <section>
    </div>


    {% if date(tournament.endDate) < date("now") %}
    {# {{ render(controller('App\\Controller\\TournamentController::ranking', {'id': tournament.id})) }} #}
    {% endif %}

    <a href="{{ path('app_tournament') }}">back to list</a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">edit</a>

    {{ include('tournament/_delete_form.html.twig') }}
{% endif %}
{% endblock %}