
{% extends 'base.html.twig' %}

{% block title %}Peloton index{% endblock %}

{% block body %}
    <h1>Peloton index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MaxParticipant</th>
                <th>Type</th>
                <th>StartTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for peloton in pelotons %}
            <tr>
                <td>{{ peloton.id }}</td>
                <td>{{ peloton.maxParticipant }}</td>
                <td>{{ peloton.type }}</td>
                <td>{{ peloton.startTime ? peloton.startTime|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('peloton_show', {'id': peloton.id}) }}">show</a>
                    <a href="{{ path('peloton_edit', {'id': peloton.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('peloton_new') }}">Create new</a>
{% endblock %}