{% trans_default_domain 'user' %}

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="{{ path('home')}}">I'm an Archer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" aria-current="page" href="{{ path('home')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if current_menu is defined and current_menu == 'calendar' %}active{% endif %}" aria-current="page" href="{{ path('app_tournament_calendar')}}">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if current_menu is defined and current_menu == 'blog' %}active{% endif %}" aria-current="page" href="#nowhere">Clubs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if current_menu is defined and current_menu == 'blog' %}active{% endif %}" aria-current="page" href="#nowhere">Blog</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fad fa-user"></i> {{ app.user.username }} </span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ path('app_profile') }}"><i class="fad fa-id-card-alt"></i> {{ 'user.profile.title' | trans }}</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
                  <div class="dropdown-divider"></div>
                  {% if is_granted('ROLE_ADMIN') %}
                  {# <a class="dropdown-item" href="{{ path('admin_dashboard') }}"><i class="fad fa-sign-out"></i> Administration</a> #}
                  {% endif %}
                  <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fad fa-sign-out"></i> {{ 'user.logout.title' | trans }}</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item ">
            <a class="nav-link {% if current_menu is defined and current_menu == 'register' %}active{% endif %}" href="{{ path('app_register') }}"><i class="fad fa-user"></i> {{ 'user.registration.title' | trans }}</a>
            </li>
          <li class="nav-item ">
            <a class="nav-link {% if current_menu is defined and current_menu == 'login' %}active{% endif %}" href="{{ path('app_login') }}"><i class="fad fa-sign-in"></i> {{ 'user.loggin.title' | trans }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>